[submodule "core"]
	path = core
	url = https://github.com/JavaOpenCommerce/core.git
[submodule "boot"]
	path = boot
	url = https://github.com/JavaOpenCommerce/boot.git
[submodule "model"]
	path = model
	url = https://github.com/JavaOpenCommerce/model.git
[submodule "quarkus"]
	path = quarkus
	url = https://github.com/JavaOpenCommerce/quarkus.git
