[submodule "core"]
	path = core
	url = https://github.com/JavaOpenCommerce/core.git
[submodule "model"]
	path = model
	url = https://github.com/JavaOpenCommerce/model.git
[submodule "quarkus"]
	path = quarkus
	url = https://github.com/JavaOpenCommerce/quarkus.git
[submodule "common"]
	path = commons
	url = https://github.com/JavaOpenCommerce/commons.git
[submodule "commons"]
	path = commons
	url = https://github.com/JavaOpenCommerce/commons.git
